body {
    background-image: linear-gradient(#feb47b, #ff7e5f);
}

#title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 15%;
    margin-left: 10%;
}

#name {
    font-family: 'Quicksand', sans-serif;
    margin-left: 25%;
}

#point {
    width: 75%;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}