body {
    background-image: linear-gradient(#7ed0f7, #3d63e0);
    background-image: url("/assets/img/interests.png");
    background-repeat: repeat;
}

#title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 15%;
    margin-left: 10%;
}

#name {
    font-family: 'Quicksand', sans-serif;
    margin-left: 25%;
}

#point {
    width: 75%;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}